<div
  class="calendar-card p-4 surface-card border-round-2xl shadow-2 max-w-26rem mx-auto"
>
  <p-calendar [(ngModel)]="selectedDate" [inline]="true" [showWeek]="false">
    <ng-template pTemplate="date" let-date>
      <div
        class="heat-circle"
        [ngClass]="getHeatmapClass(date)"
        [pTooltip]="!isFuture(date) && !date.otherMonth? date.day +'/' +(date.month + 1) +'/' +date.year +': ' +getMinutes(date) +' phút': ''"
        [tooltipDisabled]="isFuture(date) || date.otherMonth"
        tooltipPosition="top"
        [showDelay]="50"
      >
        {{ date.day }}
      </div>
    </ng-template>
  </p-calendar>
</div>
