<header class="h-4rem bg-white border-bottom-1 sidebar-custom-border flex align-items-center justify-content-end px-4 sticky top-0 z-5">
  <div class="flex align-items-center gap-3">
    <button
      type="button"
      class="p-link w-2rem h-2rem border-circle border-2 border-gray-200 focus:shadow-none flex align-items-center justify-content-center  text-secondary-custom">
      <i class="pi pi-bell text-xl"></i>
    </button>
    <button
      type="button"
      class="p-link w-2rem h-2rem border-circle border-2 border-gray-200 focus:shadow-none flex align-items-center justify-content-center  text-secondary-custom">
      <i class="pi pi-user text-xl"></i>
    </button>
  </div>
</header>